{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Metodos De Pago</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos %}
                <tr>
                    <td>{{ pago.id }}</td>
                    <td>${{ pago.nombre }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
